In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso, Ridge
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
data = pd.read_csv("/content/energydata_complete.csv")

In [ ]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [ ]:
df = data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [ ]:
#change the date column from object to datetime datatype

import pandas as pd
data['date'] = pd.to_datetime(data['date'])

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  datetime64[ns]
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: datetime64[ns](1), float64(26), int64(2)
memory usage: 4.4 MB

In [8]:
# QUESTION 17

#fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the Root Mean Squared error in three decimal places?

import numpy as np
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data['T2'], data['T6'], test_size=0.2)

# Fit a linear regression model
model = LinearRegression()
model.fit(X_train.values.reshape(-1, 1), y_train)

# Predict the temperature in the living room based on the outside temperature
y_pred = model.predict(X_test.values.reshape(-1, 1))

# Calculate the root mean squared error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Print the root mean squared error
print(f"Root Mean Squared Error: {rmse:.3f}")

Root Mean Squared Error: 3.661

In [9]:
#QUESTION 18

#Remove the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility). Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively). Run a multiple linear regression using the training set. What is the Mean Absolu

# Remove the specified columns
data.drop(columns=["date", "lights"], inplace=True)

# Set the target variable
target = "Appliances"

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    data.drop(target, axis=1), data[target], test_size=0.3, random_state=42
)

# Normalize the data
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_normalized = scaler.fit_transform(X_train)
X_test_normalized = scaler.transform(X_test)

# Run a multiple linear regression
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train_normalized, y_train)

# Calculate the mean absolute error
from sklearn.metrics import mean_absolute_error

y_pred = model.predict(X_test_normalized)
mae = mean_absolute_error(y_test, y_pred)

print("Mean Absolute Error:", mae)

Mean Absolute Error: 53.64297765584956

In [10]:
# QUESTION 19

#What is the Root Mean Squared Error (in three decimal places) for the training set?

import numpy as np
# Calculate the root mean squared error for the training set

y_train_pred = model.predict(X_train_normalized)
rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))

print("Root Mean Squared Error (Training Set):", rmse_train)

Root Mean Squared Error (Training Set): 95.21565985214606

In [11]:
#QUESTION 20
#What is the Mean Absolute Error (in three decimal places) for test set?

print("Mean Absolute Error (Test Set):", mae)

Mean Absolute Error (Test Set): 53.64297765584956

In [16]:
#question 21
#What is the Root Mean Squared Error (in three decimal places) for test set?

import numpy as np
y_pred = model.predict(X_test_normalized)
rmse_test = np.sqrt(mean_squared_error(y_test, y_pred))

print("Root Mean Squared Error (Test Set):", rmse_test)

Root Mean Squared Error (Test Set): 93.64046093998029

In [17]:


# question 24 : Train a lasso regression model with default value and obtain the new feature weights with it. How many of the features have non-zero feature weights?

import numpy as np
# Train a Lasso regression model with default parameters
lasso_model = Lasso()
lasso_model.fit(X_train_normalized, y_train)

# Obtain the new feature weights
lasso_coef = lasso_model.coef_

# Count the number of non-zero feature weights
num_non_zero_weights = np.count_nonzero(lasso_coef)

# Print the number of non-zero feature weights
print("Number of non-zero feature weights:", num_non_zero_weights)

Number of non-zero feature weights: 4

In [20]:
# question 25 : What is the new RMSE with the Lasso Regression on the test set?

import numpy as np
# Predict using the Lasso model
y_pred_lasso = lasso_model.predict(X_test_normalized)

# Calculate the Root Mean Squared Error
rmse_lasso = np.sqrt(mean_squared_error(y_test, y_pred_lasso))

# Print the Root Mean Squared Error
print("Root Mean Squared Error (Lasso Regression, Test Set):", rmse_lasso)

Root Mean Squared Error (Lasso Regression, Test Set): 99.42422892589771